[2015-07-14 11:20] dmabtrg opened #1 "JSON error when loading restaurant data"
When loading the restaurant data via restaurant_feeder.js there are multiple errors like:

[code]

The JSON generated by the script seems to be OK, so there's something else going on here.

[2015-07-14 11:56] dmabtrg commented on #1
After further review, orion seems to be rejecting the data due to some illegal characters:

[code]

Looking into the [JSON specification](http://www.json.org), this characters are allowed, so something else was going on with orion.  Searching for similar errors on orion github issue tracker, we've found this issue:

https://github.com/telefonicaid/fiware-orion/issues/890

There we've learned that

[2015-07-14 11:59] #1 closed, assigned to nobody

[2015-07-28 17:24] dmabtrg opened #2 "Map view displays a limited amount of restaurants"
While testing the map, I can only see restaurant POIs for about 40~50 restaurants.  I've checked [client/js/restaurants_api.js](https://github.com/Bitergia/fiware-devguide-app/blob/74da7b8d9478ed56a77367d8a851a7dddefcaa58/client/js/restaurants_api.js#L59-L68) and there seems to be a variable clash between the len variable in the first for loop and that same variable in the inner for loop.  Using d

[2015-07-29 19:00] #2 closed, assigned to FiwareULPGC

[2015-07-29 19:01] FiwareULPGC commented on #2
Fixed in 67e87f32954c4a897de6a70066a8df7d3ad0cc22

[2015-08-13 15:54] jmcanterafonseca opened #4 "Consider providing a mongo image with data for Mac Users"
Unfortunately docker for Mac has not the capability of running mongoDB with an external data volume mapped to a local folder. That means that for Mac OS users we are going to need to provide an alternative Mongo image that includes both Mongo and the data.

We can reference such an image in the Docker Compose and provide a new target called 'orion-embedded' or a better name that will allow Mac use

[2015-08-13 16:08] albertinisg opened #5 "Re-write the Orion REST API for NGSI V2 implementation"
As Jose Manuel said, it will be important to start using the FIWARE NGSI v2. Even though we are not using many different operations, we should start implementing it for later use.

Right now everything we have is here:

[Orion REST API for Devguide](https://github.com/Bitergia/fiware-devguide-app/blob/master/server/routes/orion.js)

[2015-08-13 16:36] dmabtrg commented on #4
I think that what you want to do can already be achieved with the current data image, as it uses mongo:2.6 as its base image.  Something like this for the mongo container should work:

[code]

With this configuration, the container does not rely on volumes from other containers and have both mongo and the database files on the same container.  I don't have Mac OS to test this.  Can you try it?

[2015-09-09 16:52] jmcanterafonseca commented on #4
Hello friends,

Yes it works. I wonder if we can provide some documentation or alternative docker-compose.yml for Mac users.

[2015-09-11 14:38] #4 closed, assigned to nobody

[2015-10-01 14:34] #5 closed, assigned to nobody

[2016-02-26 10:25] jmcanterafonseca opened #16 "Use module pattern in Javascript code"
The Javascript modules of the client application are using plain functions which it is not a good practice. Please use the module pattern and expose to the outside the public functions exposed by the modules

[code]

[2016-02-26 10:26] jmcanterafonseca opened #17 "Drop any reference to activeX AJAX code"
Please do not use activeX AJAX code THAT is VERY, VERY OLD

[2016-02-26 10:27] jmcanterafonseca opened #18 "Use correct English in code"
for instance 'petition' should be 'request'

[2016-02-26 10:34] jmcanterafonseca opened #19 "client application folder structure is wrong"
please only one folder javascript, one folder for stylesheets, not many

I would suggest

/js
/style

style/icons
style/images

[2016-02-26 10:35] jmcanterafonseca opened #20 "unify naming conventions"
sometimes '_' is used, sometimes camelCase

[2016-02-26 10:36] jmcanterafonseca opened #21 "use a linter in the client app"

[2016-02-26 10:39] jmcanterafonseca opened #22 "Add unit tests to the client application"

[2016-03-02 10:10] jmcanterafonseca opened #31 "Use camelCase instead of underscore"
for variable names, function names, etc.

[2016-03-02 11:34] albertinisg commented on #31
I think we can close #20 and keep the track in this one, as the work is the same.

[2016-03-04 09:59] albertinisg opened #34 "Put a working example or some pictures to the install instructions"
Literally reported by a user:

"Put a working example or at least some pictures to the install instructions, that one can have an idea what it will look like in the end."

[2016-03-04 10:00] albertinisg opened #35 "Let the marker show up even when not locked in"
Literally reported by a user:

"Let the marker show up even when not locked in, this is a unusual behavior for me. Prevent to edit, yes, but not showing?"

[2016-03-04 10:00] albertinisg opened #36 "Dead link"
Literally reported by a user:

"Following link is dead: Page: https://github.com/Fiware/tutorials.TourGuide-App/tree/master/docker/images/tutorials.tourguide-app    "And example application is the restaurant data feeder."

[2016-03-04 10:03] albertinisg opened #37 "Intructions on how to work with get-docker-hosts utility more clear"
Literally reported by a user:

"Make the instructions how to work with the get-docker-hosts utility in clear steps and not only as "tricky" but necessary "

Note that the utility is at Bitergia's [docker repository](https://github.com/Bitergia/docker)

[2016-03-07 14:10] albertinisg commented on #35
The actual approach is that all the requests against TourGuide must be authenticated using a `token` from Keyrock. @FiwareULPGC @jmcanterafonseca, should we change the actual approach and let the user get restaurants, reviews and reservations without being logged in? Take into account that if doing this, we should also disable the edit/create buttons, hide the sections 'my reservations' and 'my re

[2016-03-08 10:06] #36 closed, assigned to albertinisg

[2016-03-14 08:47] jmcanterafonseca opened #41 "docker description needs to be updated"
https://hub.docker.com/r/fiware/tutorials.tourguide-app/

Tour Guide and Tour Guide Application must be referenced instead of Developer Guide

I would use this issue to revise and update the content

[2016-03-14 08:53] jmcanterafonseca opened #42 "use the latest Orion Context Broker docker image"

[2016-03-14 09:20] jmcanterafonseca opened #43 "Use official FIWARE images for the different GEs"

[2016-03-14 10:28] jmcanterafonseca opened #44 "Data model stored in Context Broker is wrong"
Once you update to Orion >= 0.28 data model needs to be fixed: Here is the data model in normalized mode:

When creating data, if you issue a POST to /v2/entities with the JSON described below it will create the entities correctly.

[code]

[2016-03-15 07:42] #37 closed, assigned to dmabtrg

[2016-03-15 07:42] #41 closed, assigned to nobody

[2016-03-15 08:44] albertinisg commented on #43
The status of the official GEs that are (still) not being used in the TourGuide is the following:
- [Authzforce](https://hub.docker.com/r/fiware/authzforce/):  the image is not automated in Dockerhub, it doesn't have tags and its latest build was 2 months ago.
- [idm](https://hub.docker.com/r/fiware/idm/): The idm-keyrock docker image has changed several times and it was "in a unstable state" unti

[2016-03-16 13:19] jmcanterafonseca commented on #43
thanks for the report. I've reported to the involved GEs

Wrt IdM and PEP Proxy, please could you report on the status right here in this issue so that we can analyze and take action?

thanks

[2016-03-16 13:38] frbattid commented on #43
Cygnus related issue --> https://github.com/telefonicaid/fiware-cygnus/issues/536 (reopened)

[2016-03-16 14:10] albertinisg commented on #42
@dmabtrg to update Orion => 0.28 I will have to replace all the id's whitespaces for 'underscore'. Take note of this action, as it probably may change the behavior of the sensors in IDAS GE.

[2016-03-16 14:13] urishani commented on #43
CEP issue has been handled. askbot answered too.

[2016-03-16 14:20] albertinisg commented on #42
@jmcanterafonseca Orion 0.28 is the latest version that supports XML. CEP does not support the Orion JSON format for notifications (as discussed [here](https://github.com/ishkin/Proton/issues/15#issuecomment-173275454)), so I'm afraid that we will have to stop the update process at version 0.28 until a decision is made.

[2016-03-16 15:53] albertinisg commented on #43
@jmcanterafonseca sure. @dmabtrg, let's follow up the update process of IdM and PEP through this thread.

[2016-03-16 15:55] albertinisg commented on #43
@frbattid @urishani maybe you can find useful the approach we already did for [Cygnus](https://github.com/Bitergia/fiware-chanchan-docker/tree/master/images/cygnus) and [CEP](https://github.com/Bitergia/fiware-chanchan-docker/tree/master/images/cep-proton) images. Those images are built automatically, with tags support and a bit lighter than the official ones :relaxed:

[2016-03-16 16:37] urishani commented on #43
Not clear top me what you want to do here, and what you did with CEP
iamage and in what context.
Presently, we have a simple process to generate the Docker image, or any
local installation of the product.
Please clarify,
- Uri

From:   Alberto Martín notifications@github.com
To:     "Fiware/tutorials.TourGuide-App"
tutorials.TourGuide-App@noreply.github.com
Cc:     Uri Shani/Haifa/IBM@IBMIL
Date:

[2016-03-16 16:47] albertinisg commented on #43
@urishani I'm just pointing out the image we had to create based in the [FIWARE Guidelines](http://forge.fiware.org/plugins/mediawiki/wiki/fiware/index.php/Docker) to use in the TourGuide, as in DockerHub there was no CEP image available. I've just thought you could find it useful, as the image is also lighter (517 MB vs 189 MB).

[2016-03-17 09:12] urishani commented on #43
Thanks Alberto,
I looked at that link and I think we are inline with the guidelines.
Yet, indeed our image is almost 900 MB. I know that we have in it an
initialized tomcat which spans out the war of applications and that may
increase the size.
Working on reducing the size - at least based on that idea.

Any other ideas on how to make the image smaller?

In our case, the initialization creates bad

[2016-03-17 10:52] albertinisg commented on #44
I've also modified the models regarding reviews and reservation. After continuing, I would like to double check that the modifications I've made are correct.
I have doubts with the fields containing dates, the [Orion documentation](https://jsapi.apiary.io/previews/null/introduction/specification/special-attribute-types) now uses ISO8601 formats, but I couldn't find how to perform the queries we ar

[2016-03-17 11:55] jmcanterafonseca commented on #44
several comments,

dates should be captured as

[code]

latest version of Orion supports date filtering in queries, please check

type of address must be 'PostalAddress' and not 'postalAddress'

[2016-03-17 12:01] jmcanterafonseca commented on #42
I would suggest the following:

use always the _latest_ Orion Context Broker version

provide an alternative target in docker-compose (or a different compose
file) to work with CEP.

But I would not lose all the Orion nice features that are going to land
just because CEP is not updated.

thanks

2016-03-16 15:20 GMT+01:00 Alberto Martín notifications@github.com:

[2016-03-17 20:01] dmabtrg commented on #43
Hi @urishani

Using `docker history <image>` you can see which layers increase the size of the image.  Keep in mind that adding something in a layer and removing later in another layer does not reduce the image size, so if you need to do that, try to do it in the same layer.  Also every directive in the Dockerfile creates a new layer.

If you need to download a file on the Dockerfile, you can use

[2016-03-18 09:02] jmcanterafonseca opened #49 "Create a readthedocs documentation project for the application"

[2016-03-18 09:34] FiwareULPGC commented on #17
Solved in #32

[2016-03-18 09:34] #17 closed, assigned to FiwareULPGC

[2016-03-18 10:59] dmabtrg opened #50 "Authzforce official docker image name and tag changed."
The authzforce official docker image has been renamed to authzforce-ce-server and the old image has been removed, so both the [release 0.5](https://github.com/Fiware/tutorials.TourGuide-App/releases/tag/0.5) and master are currently broken.  Also, the new image only has the `latest` tag.

I've opened an issue to add versioned tags to the new image here: authzforce/fiware#3

[2016-03-18 22:03] urishani commented on #43
Thanks for all these tips. We will apply them, and work out the other
wrinkles of this component.
Thanks,
- URi

From:   dmabtrg notifications@github.com
To:     "Fiware/tutorials.TourGuide-App"
tutorials.TourGuide-App@noreply.github.com
Cc:     Uri Shani/Haifa/IBM@IBMIL
Date:   17/03/2016 04:02 PM
Subject:        Re: [tutorials.TourGuide-App] Use official FIWARE images
for the different GEs (#43)

[2016-03-20 11:26] urishani commented on #43
Hi Uri,
These steps are correct and are the best practice of Docker files, however in our case it is reduced few MB (tried it) as the main job of the build is the BASH script that used NON docker configuration, we used it to avoid of updates and any changes in few places.
Regarding the Tomcan image, the image is a Debian based image and its required the CEP... script customization and more package

[2016-03-21 16:10] albertinisg opened #51 "Deploy TourGuide app in a Docker Swarm cluster"
In a conversation with @KennethNagin, we've found an issue trying to deploy TourGuide in a cluster. After exposing to the host the following services at the following ports:
- Orion: 1026
- CEP: 8080
- IDM: 443
- TourGuide: 80

The application fails when redirecting the 'Log in' to IDM. The issue is caused for several reasons:
-  This configuration in the [keystone_provision.py](https://github.com

[2016-03-28 07:40] albertinisg commented on #51
Apart from that, we will have to discuss about how to go through the images that loads their configurations with volumes. This approach breaks the development of the TourGuide in a Docker Swarm cluster.

[2016-03-28 15:12] dmabtrg commented on #50
The new [release 0.5.1](https://github.com/Fiware/tutorials.TourGuide-App/releases/tag/0.5.1) fixes this.

[2016-03-28 15:12] #50 closed, assigned to dmabtrg

[2016-03-28 15:13] jmcanterafonseca commented on #35
I would keep this issue open and let analyze it later as we have other priorities

[2016-03-28 15:14] jmcanterafonseca commented on #34
we need to add this to the readthedocs content to be developed

[2016-03-30 16:35] albertinisg commented on #42
Done in #59

[2016-03-30 16:35] #42 closed, assigned to albertinisg

[2016-03-31 16:37] urishani commented on #43
Hi Albert,
Changing the dockerfile to do ADD as you suggest indeed reduces the image to below 200MB. Yet, running it fails to create the tomcat service we need.

My developers do not know how to do that differently.
Please explain what is your suggestion or how the resulting docker image can still be used at its much reduced size.
Thanks for your help here.

The modified Dockerfile is:

[2016-04-01 12:50] FiwareULPGC commented on #31
Solved in #55

[2016-04-01 12:50] #31 closed, assigned to FiwareULPGC

[2016-04-01 12:50] FiwareULPGC commented on #20
Solved in #55

[2016-04-01 12:50] #20 closed, assigned to FiwareULPGC

[2016-04-01 12:51] FiwareULPGC commented on #19
Solved in #55

[2016-04-01 12:51] #19 closed, assigned to FiwareULPGC

[2016-04-01 12:51] FiwareULPGC commented on #18
Solved in #55

[2016-04-01 12:51] #18 closed, assigned to FiwareULPGC

[2016-04-01 12:51] FiwareULPGC commented on #16
Solved in #55

[2016-04-01 12:51] #16 closed, assigned to FiwareULPGC

[2016-04-01 12:54] albertinisg opened #63 "Migrate to an Open Geocoder"
Actually we are using Google's API to Geocode the restaurants. We should migrate to an Opensource geocoder provider.

[2016-04-01 12:58] albertinisg opened #64 "Start using a Generic identifier for the restaurants"
We've had several issues using the name as id for the restaurants. Due to that, it's a better approach to use a generic ID for that, by using a hash based in a sha1 or uuid's.

[2016-04-01 13:42] albertinisg commented on #63
After having a look at several providers, I think a good choice could be [Opencagedata](https://geocoder.opencagedata.com/). It's open under ODbL and CC-BY-SA licenses: https://geocoder.opencagedata.com/faq#legal and also supported by the node-module we are using (node-geocoder). The only thing is, every user will need to use an `apiKey`, which will be passed as an argument when running the feeder

[2016-04-04 14:25] albertinisg commented on #63
I've been testing several geocoding providers and here are the results:

The open Source ones:
- Openstreetmaps: Searching 5 different address, it could geo-locate just one of them, leaving the others empty.
- datasciencetoolkit: It couldn't find any of the 5 addresses given
- opencage: it does geolocate the entity, but not the streets. It means, returns the geo-location of the city, far from bein

[2016-04-05 07:17] jmcanterafonseca commented on #63
do we have other alternatives non open source but without restriction in
the number of requests?

2016-04-04 16:25 GMT+02:00 Alberto Martín notifications@github.com:

[2016-04-05 14:47] albertinisg commented on #63
After searching and testing I could't find any other free service (even not opensource) that does offer quality geolocation without any request limitation. There are several opensource ones that offers that, but they are based in openstreetmaps, which did not geolocate very well.
We still can do the following:
- Generate the geolocation data of each restaurant in a file inside the repository (same

[2016-04-05 21:58] albertinisg opened #67 "Set branch 'develop' as default"
One week ago we agreed to start using `develop` branch instead of `master`.  After that, PR's #55 (which was already accepted) and #65 went against `master` branch, so we will need now to sync the branches.

@jmcanterafonseca I don't have the permission to set the default branch (described [here](https://help.github.com/articles/setting-the-default-branch/)). Could you please update it?

@FiwareUL

[2016-04-06 13:25] dmabtrg commented on #67
Also, I think we should rebase `develop` on top of current `master` before merging any of the open pull requests.

[2016-04-13 11:49] #21 closed, assigned to FiwareULPGC

[2016-04-13 14:34] #64 closed, assigned to albertinisg

[2016-04-13 14:39] jmcanterafonseca opened #73 "Add a README.md at the 'server' folder level"
describing what each folder contains

[2016-04-13 14:40] jmcanterafonseca opened #74 "Add a README.md at the 'client' folder level"

[2016-04-13 14:41] albertinisg commented on #44
Fixed in #69 (that inherits from #68)

[2016-04-13 14:41] #44 closed, assigned to albertinisg

[2016-04-13 14:43] jmcanterafonseca opened #75 "Add a README.md at the 'utils' folder level"

[2016-04-20 16:30] albertinisg opened #76 "Application logic refactorization"
Based in PR #62 comments, a refactorization for the server is needed. The main goals are:
- Fix/remove the 'promise hell', and remove the nested code
- Refactor the code used in several places
- Remove the 'filtering functions' and start using sql (simple query language) from Orion
- Adapt requests to the new Orion data model

[2016-04-21 12:35] albertinisg commented on #35
I think we should get back to this. Guys, what are your thoughts? @FiwareULPGC, would this be a huge change in the client? From the server side, the change shouldn't be a big deal.

Still, IMHO, the actual approach makes the user interacts with the Log-in - oauth - IdM authorization, and this change can make the user run the application and not interact with that feature.

[2016-04-21 16:55] FiwareULPGC commented on #35
Hi!

We think that it would not be too complicated to adapt the client to the proposed approach.

If we are going to implement it in a close future, if it is possible, it should be nice to know it in advance, to take it in care for the next planned client refactor and avoiding to refactor the client twice.

Thank you!

[2016-04-21 17:08] albertinisg commented on #35
Thanks for the feedback! It was planned to be done in this sprint, but I'm afraid is too bit late (we have one week left for this sprint). Do you think is it feasible? If not, @jmcanterafonseca, should we move it to the next sprint?

[2016-04-21 18:42] jmcanterafonseca commented on #35
yup

2016-04-21 19:08 GMT+02:00 Alberto Martín notifications@github.com:

[2016-04-26 18:14] #76 closed, assigned to albertinisg

[2016-04-27 14:50] albertinisg commented on #63
@jmcanterafonseca how should I proceed with this?

[2016-04-27 16:53] dmabtrg commented on #43
This is the status of the official images of the GEs used in the Fiware TourGuide Application:
- [Orion Context Broker](https://hub.docker.com/r/fiware/orion):
  - Automated in Docker Hub: Yes.
  - Has tags for the releases in Docker Hub: Yes, Multiple tags from 0.24 to 1.0.
- [Authzforce](https://hub.docker.com/r/fiware/authzforce-ce-server/):
  - Automated in Docker Hub: Yes.
  - Has tags for th

[2016-04-28 14:02] dmabtrg commented on #67
Following the change from `master` to `develop` as default branch, the `develop` branch was some commits behind `master`.  To fix this before more changes land on the branch, we've just rebased the `develop` branch on top of `master`, making the `develop` branch up to date with the latest changes that were merged to `master`.  This change requires you to update your local copy of the repository an

[2016-04-28 14:27] dmabtrg commented on #67
Ok, the new default branch is `develop` and is up to date with `master`, so this can be closed.

[2016-04-28 14:27] #67 closed, assigned to nobody

[2016-04-29 06:56] jmcanterafonseca commented on #51
What are those images? Why configurations are loaded using images?

[2016-04-29 07:15] jmcanterafonseca opened #82 "Drop any CEP references in the develop documentation"
As develop is using latest Orion and CEP cannot interoperate with it, then drop any reference to CEP in the develop branch, both in code and documentation

[2016-04-29 07:17] jmcanterafonseca opened #83 "Use Orion latest image"
Please, please, this is something we have reported so many times ... In the develop branch Orion Context Broker latest has to be used ....

[2016-04-29 07:46] jmcanterafonseca commented on #73
and another readme per subfolder as well, we need to be very, very friendly, this is a tutorial

[2016-04-29 07:46] FiwareULPGC opened #84 "Adapt client to the new data model"

[2016-04-29 07:49] jmcanterafonseca opened #85 "[server] Comment code precisely, in order to facilitate learning"
nowadays the tour guide Application contains nearly no comments. We need to include comments at the beginning of each module, function, etc.

[2016-04-29 07:49] jmcanterafonseca opened #86 "[client] Comment code precisely, in order to facilitate learning"

[2016-04-29 08:53] albertinisg commented on #83
I was waiting for the refactorization to be done in Develop, in order to launch a Release, the last one to include the CEP module.

[2016-04-29 11:26] dmabtrg commented on #51
The problem is not the images themselves, but the volumes mapped from the host used by those images, as they won't work when using Docker Swarm / Machine.  Some images (e.g. cygnus or the official pep-wilma image) allow or require you to provide a configuration file to configure the application and that, right now, is done via a volume from the host.  For this to work with Docker Swarm / Machine,

[2016-05-03 16:54] albertinisg opened #89 "Idas image fails while checking Orion is alive"
Bitergia IDAS image checks for the expression `<version>` to check Orion is alive, but since Orion is not using XML anymore, this check fails. The official IDAS image does not check that, so this error should not appear using the official one.

[2016-05-04 07:52] #82 closed, assigned to albertinisg

[2016-05-04 14:33] albertinisg opened #90 "Reviews generator fails patching 'aggregateRating'"
When generating reservations with the feeder, the element passed to the function is wrong, leading into an error at every restaurant entity:

[code]

Also, we should add every `string` between single quotes inside the searching filters.

[2016-05-04 16:02] albertinisg commented on #35
@FiwareULPGC, sever change for this issue is done #92 (waiting for review)

[2016-05-05 10:57] FiwareULPGC commented on #35
We have tested your branch (added as remote and merged with a new branch from develop), and the client can't get information if the user is not logged in.

We have checked that the last commit is 98f96edf9bbe6618a82c73ce3df1abe253b7349f (the same that the PR).

Here we detail the steps that we use to test the PR:

Get PR:
-  `git remote add albertinisg  https://github.com/albertinisg/tutorials.Tou

[2016-05-05 11:10] albertinisg commented on #35
The image is not built (yet) in dockerhub with the changes, so you need to add the changes mapping the host in the docker-compose file (using `volumes`):

[code]

[2016-05-05 12:56] FiwareULPGC commented on #35
We have followed your indications and we could test it properly (after installing grunt).  The client can get information even if the user is not logged in.

We also tested forbidden operations like delete and they returned 404 errors (maybe you could consider to return  403 errors instead)

Apart from the returned error codes it LGTM.

[2016-05-06 11:47] #90 closed, assigned to albertinisg

[2016-05-06 11:48] #83 closed, assigned to albertinisg

[2016-05-06 11:57] albertinisg commented on #35
I'll open an issue to check that and re-asign this one to @FiwareULPGC . Thanks for the feedback!

[2016-05-06 11:58] albertinisg opened #93 "Check returned codes when trying forbidden operations"
As reported by @FiwareULPGC in #35:

"We also tested forbidden operations like delete and they returned 404 errors (maybe you could consider to return 403 errors instead)"

[2016-05-09 10:45] jmcanterafonseca opened #94 "move docker-compose.yml to the root directory of the app"
in order to make it easier to start with, I would suggest the docker-compose.yml is moved to the root directory of the app. Now it is not very conveniently situated behind a folder

[2016-05-09 10:55] jmcanterafonseca opened #95 "docker-compose.yml has commented code without explanation"
there are some code in the docker-compose.yml file which is commented out, I guess purpose is to show as a template, but if no comment is provided then it is useless ...

[2016-05-09 13:05] jmcanterafonseca opened #96 "move data in Orion to default tenant"
for the sake of simplicity and to align tour guide content and other tutorials I would ask to store all the data in the default tenant , thus avoiding any kind of fiware-service header. It would make testing easier.

[2016-05-09 14:39] albertinisg opened #97 "Use pep proxy to protect Orion Context Broker"
Right now with the actual approach, the pep proxy is 'disabled'. We will need to put pep-proxy in front of Orion. For that purpose, we will need to:
- Generate a Role 'Orion', and assign it to a test user
- Generate a custom XACML to allow access to all the resources with that role. The actual approach in Keyrock just allows to protect a resource by adding the action and the resource to protect, b

[2016-05-12 22:22] albertinisg opened #101 "Restaurant filter by date returns wrong timestamp"
As reported by @FiwareULPGC , the behavior when retrieving a restaurant by date is wrong.

The example provided:

[code]

[2016-05-17 10:25] #75 closed, assigned to albertinisg

[2016-05-17 10:25] #73 closed, assigned to albertinisg

[2016-05-17 10:28] jmcanterafonseca commented on #96
I regret from this request. It makes easier to integrate other GEs, particularly IDAS, if we keep a fiware-service and fiware-service-path

[2016-05-17 10:28] #96 closed, assigned to nobody

[2016-05-17 10:29] jmcanterafonseca commented on #89
please remove any kind of checking that other services are alive. That's something should be done by the original service and it is not our business. Removing any kind of magic behind dockers would help us a lot. this is not a production application it is a tutorial!

[2016-05-17 10:35] jmcanterafonseca opened #103 "Reconsider how IDAS is integrated"
Integration between IDAS and Orion should be done without relying on any kind of notification mechanism. Actually, IDAS allows to map incoming readings from devices to entities in a Context Broker. So current approach seems to be unnecessary.

[2016-05-17 10:41] dmabtrg commented on #89
I'm testing the new [iotagent-ul](https://github.com/telefonicaid/iotagent-ul) in order to replace our custom image with the new official one.

[2016-05-17 10:53] dmabtrg commented on #103
I'll look into it.  Do you have any pointers to the documentation on how to do this?

[2016-05-17 10:59] jmcanterafonseca commented on #103
you will see it soon in the Tour Guide documentation under http://fiwaretourguide.readthedocs.io/en/latest/connection-to-the-internet-of-things/how-to-read-measures-captured-from-iot-devices/

[2016-05-17 11:04] dmabtrg commented on #43
The old [IDAS IoT Agent](https://hub.docker.com/r/fiware/fiware-iotagent-cplusplus/) is being replaced with a [new IoT Agent](https://hub.docker.com/r/fiware/iotagent-ul/).  This is the status of the official image:
- Automated in Docker Hub: Yes.
- Has tags for the releases in Docker Hub: **No**.  The only image available is the default latest.

I'm currently testing this image.

[2016-05-17 18:57] jmcanterafonseca opened #104 "add new IDAS image to the Tour Guide"
UL2.0 image as per https://github.com/telefonicaid/iotagent-ul

according to the following requirements:

hostname: 'idas', same as container target name in the docker compose.

ports opened aligned with what is said at

https://github.com/Fiware/docs.TourGuide/pull/25

no customizations of any kind, image as it is.

[2016-05-17 19:03] jmcanterafonseca opened #105 "remove pep proxy from docker-compose"
until pep proxy is properly integrated I would suggest it is removed

[2016-05-18 10:39] jmcanterafonseca commented on #43
wrt to the IDM image, I think we need to use the official one. The automation of provisioning of users, authorization etc. should be done by a configuration script, or even manually by users themselves, to be run after the service is launched. This is an important point for the tour guide Application. We don't want to hide our potential users all the configuration details, all the opposite, we wan

[2016-05-20 10:43] #105 closed, assigned to nobody

[2016-05-23 09:41] jmcanterafonseca opened #109 "change name from 'idm' to 'keyrock' in the docker-compose.yml file"
as in the case of other GEs we are using the name of the GEri, we need to be consistent and do the same with the IDM

[2016-05-23 13:25] #104 closed, assigned to nobody

[2016-05-24 09:47] dmabtrg commented on #94
Closed in #106.

[2016-05-24 09:47] #94 closed, assigned to nobody

[2016-05-24 09:49] dmabtrg commented on #95
Closed in #106.

[2016-05-24 09:49] #95 closed, assigned to nobody

[2016-05-24 09:51] dmabtrg commented on #89
Now we are using the official iotagent-ul image, so this can be closed.

[2016-05-24 09:51] #89 closed, assigned to dmabtrg

[2016-05-24 15:14] jmcanterafonseca opened #111 "Add container_name to all containers in docker-compose"
so that we management of containers can be more usable

https://docs.docker.com/compose/compose-file/#container-name

[2016-05-30 14:53] #111 closed, assigned to nobody

[2016-05-30 15:31] dmabtrg commented on #109
Closed in #112.

[2016-05-30 15:31] #109 closed, assigned to nobody

[2016-05-31 16:24] #101 closed, assigned to nobody

[2016-06-02 12:21] dmabtrg commented on #103
Fixed in #110.

[2016-06-02 12:21] #103 closed, assigned to nobody

[2016-06-02 18:18] albertinisg commented on #97
For this task (wich is related to #93) we will wait for the release of a new pep-proxy version, as the latest version does not work with the latest Authzforce (reported in https://github.com/ging/fiware-pep-proxy/issues/17)

[2016-06-06 13:24] albertinisg opened #113 "Use cygnus official image"
As a new cygnus image was released following the requirements, we need to start using it as soon as possible.

[2016-06-06 16:00] albertinisg commented on #49
Task on hold
https://github.com/Fiware/tutorials.TourGuide-App/pull/70#issuecomment-223984451

[2016-06-08 06:37] jmcanterafonseca opened #114 "change attribute type `date` to `DateTime` to align with Orion Context Broker"
with the recent change of Orion Context Broker from `date`to `DateTime`we need to align

this change also affects the Cookbook and the client app

/cc @FiwareULPGC

[2016-07-19 15:36] fgalan opened #120 "Doc improvement: subservice details in context base"
The subservices used by the Tour Guide App in the context data stored at Orion Context Broker should be explained in the documentation. For example, it should be explained that Restaurant entities are located in per-franchise subservices. At least, I have been unable to found that details in existing documentation...

Note that this lack in documentation is causing difficulties among users, as can

[2016-07-19 16:08] albertinisg commented on #120
Agree. There's an [issue](https://github.com/Fiware/tutorials.TourGuide-App/issues/49) to create a readthedocs project just for the TourGuide-App, so we will take this into account. Also, the queries used in that example should be updated for the NGSIv2.

Thanks for the report!

[2016-08-01 09:21] highcold opened #121 "Help! Deployment always failed."
when I finished the command "docker-compose up -d", all the components started. However I can't visit "http://tourguide", and I use "docker-compose ps" to check state of all components. The result were "cygnus       /docker-entrypoint.sh         Exit 1"   and  "ul20client           /docker- entrypoint.sh--acpi         Exit 1"

[2016-08-01 11:42] dmabtrg commented on #121
Hi, could you provide the following information, please?
- version of TourGuide (master, develop, release (e.g. 0.5.1))
- operating system
- output of the `docker-compose logs` command (create a gist/pastebin and put the url here, do not paste the output directly in the issue)

Also, make sure you have the latest images for the version you're using via `docker-compose pull`.

There's a pending PR

[2016-08-01 21:01] #113 closed, assigned to dmabtrg

[2016-08-05 10:25] albertinisg commented on #114
Resources were already aligned in #115 and https://github.com/telefonicaid/fiware-orion/issues/2273 , so I'm closing the issue.

[2016-08-05 10:25] #114 closed, assigned to nobody

[2016-08-08 15:36] highcold commented on #121
Thank you for your answer in time, and I so sorry for my late reply due to some urgent things  to deal with and bad network environment to update components in China.
Using your method, I have solved the problem related to cygnus, but  another problem still exists.
Here is the information:
- version of TourGuide is **develop**
- OS is **ubuntu 14.04**
- Although I have fix the hosts, I can't use g

[2016-08-09 06:45] highcold opened #123 "Help! Deployment failded"
when I finished the command "docker-compose up -d", all the components started. However I can't visit "http://tourguide", and I use "docker-compose ps" to check state of all components. The result was  **"ul20client /docker- entrypoint.sh--acpi Exit 1"**
Here is the information:
- version of TourGuide is develop
- OS is ubuntu 14.04
- Although I have fix the hosts, I can't use gist to create a gis

[2016-08-10 01:19] dmabtrg commented on #121
The following is just a guess, but we've seen it before on some systems.

The `ul20client` container uses the acpi subsystem by default.  If the system where your're running the containers does not support it, it will fail.  Modify the `command` directive on the `docker-compose.yml` file for that container from:

[code]

to:

[code]

This will create a fake sensor instead of trying to use the ones

[2016-08-10 04:02] highcold commented on #121
Thank you for your answer.
When I modified the docker-compose.yml, the result was still **Exit1**

[code]

I am expected to introduce more about what I am doing. I am doing this tourguide on Virtual Machine with Ubuntu 14.04, and it doesn't feed any sensor to this program nowadays. What I do is following the the tourguide introduction and I can't get guiding from surrounding people or Chinese docu

[2016-08-10 09:53] dmabtrg commented on #121
You are missing a `-` in `--variance`.  It should have two `-` instead of one.

If that doesn't solve it, try `docker logs ul20client | tail -n 20`.  That will show the last 20 lines of the log of that container and probably show the error.  Paste that lines here if it's still failing.

[2016-08-10 10:15] highcold commented on #121
Adding a `-`, it still doesn't work.
The log is :

[code]

[2016-08-10 10:40] dmabtrg commented on #121
Ok.  The first thing the container does is try to register the service with the IoT Agent (the idas container), and this is what it's failing now.  The message shows that the service already exists (and this will stop the container).  Could you try again by removing the old containers first?  Do:

[code]

to stop any container still running, then

[code]

to remove the stopped containers.  After t

[2016-08-10 12:03] highcold commented on #121
After doing what you tell me, using command `docker-compose ps` showed status of all components were up, but I can't still visit `http://tourguide`.
I have run the `./get-docker-hosts`.

[code]

Visiting `http://tourguide` still failed.
Then I visit `172.17.0.10`, and the website directly go to ``172.17.0.10/client/` which shows a map and a button `log in`. However when I click this button, webpag

[2016-08-10 14:04] dmabtrg commented on #121
You should pass the `-m` flag to `get-docker-hosts` to actually modify the `/etc/hosts` file.  If you don't, it will show what will be added, but will not modify the file.

[2016-08-10 14:30] highcold commented on #121
Thank you. @dmabtrg
It works, and I will be more  careful what I do.

[2016-08-10 14:33] dmabtrg commented on #121
Ok.  I'm closing the issue then.

[2016-08-10 14:33] #121 closed, assigned to nobody

[2016-08-10 14:37] dmabtrg commented on #123
Closing as duplicate of  https://github.com/Fiware/tutorials.TourGuide-App/issues/121#issuecomment-238276167

[2016-08-10 14:37] #123 closed, assigned to nobody

[2016-08-11 06:53] kamilwlf opened #124 "How to add the container IP address to hosts file to make it reachable on Windows 8"
instruction is for linux:
https://www.fiware.org/devguides/fiware-tour-guide-application-a-tutorial-on-how-to-integrate-the-main-fiware-ges/
I'm working on windows, how to add the container IP address to hosts file to make it reachable on Windows 8?

now my example does not work:
curl -s -X GET -H "Accept: application/json" -H "Fiware-Service: devguide" -H "Content
/json" 'http://192.168.99.100:10

[2016-08-11 12:53] dmabtrg commented on #124
The hosts file on Windows 8 should be located at `C:\Windows\System32\drivers\etc\hosts`.

[2016-08-12 05:11] kamilwlf commented on #124
What specifically I have to add to this file?

[2016-08-12 10:40] dmabtrg commented on #124
You should insert one line for each of the containers, using the following format:

[code]

i.e.:

[code]

Please note that the IP addresses listed above are just an example.  You can get the IP address of a container with the following command:

[code]

[2016-08-12 11:49] kamilwlf commented on #124
thanks, your example works but how to get access to:
http://devguide
What should I assign to `http://devguide/`? Which address?

[code]

[2016-08-16 10:48] dmabtrg commented on #124
Sorry for the late reply.  Where did you see that url?  It should be `http://tourguide`, not `http://devguide`.

[2016-08-18 13:03] Lenijas commented on #84
Solved in #117

[2016-08-18 13:07] FiwareULPGC commented on #84
Solved via #117

[2016-08-18 13:07] #84 closed, assigned to FiwareULPGC

[2016-08-18 13:09] FiwareULPGC commented on #35
Implemented via #117

[2016-08-18 13:09] #35 closed, assigned to FiwareULPGC

[2016-08-18 13:10] FiwareULPGC commented on #22
Implemented via #117

[2016-08-18 13:10] #22 closed, assigned to FiwareULPGC

[2016-08-18 13:13] FiwareULPGC commented on #86
Done in #117

[2016-08-18 13:14] #86 closed, assigned to FiwareULPGC

[2016-08-26 12:01] #85 closed, assigned to albertinisg, dmabtrg

[2016-09-06 08:33] #74 closed, assigned to FiwareULPGC

[2016-09-20 10:30] albertinisg opened #136 "Fix list-reviews-by-organization to return the right values"

[2016-09-20 10:31] albertinisg opened #137 "Generate franchises not randomly"

[2016-09-20 11:06] FiwareULPGC opened #138 "Do not display "write review" option if the user belongs to a franchise."
The write review option should not be displayed if the logged user belongs to a franchise.

Note: this does not prevent that a franchise user can write a review when the API is used directly.

[2016-09-22 09:23] albertinisg commented on #136
Fixed in #122

[2016-09-22 09:23] #136 closed, assigned to nobody

[2016-09-22 09:24] albertinisg commented on #137
Fixed by @dmabtrg in #122

[2016-09-22 09:24] #137 closed, assigned to nobody

[2016-09-22 09:25] albertinisg commented on #63
Approach https://github.com/Fiware/tutorials.TourGuide-App/issues/63#issuecomment-205840078 done in #122

[2016-09-22 09:25] #63 closed, assigned to albertinisg

[2016-09-22 11:55] #138 closed, assigned to FiwareULPGC

[2016-10-06 23:21] albertinisg commented on #43
This issue was fixed in https://github.com/Fiware/tutorials.TourGuide-App/pull/108 and https://github.com/Fiware/tutorials.TourGuide-App/pull/118 by @dmabtrg

[2016-10-06 23:21] #43 closed, assigned to nobody

[2016-10-06 23:23] albertinisg commented on #49
The readthedocs documentation was finally added in https://github.com/Fiware/docs.TourGuide/.
See http://fiwaretourguide.readthedocs.io/en/latest/fiware-tour-guide-application-a-tutorial-on-how-to-integrate-the-main-fiware-ges/introduction/#introduction

[2016-10-06 23:23] #49 closed, assigned to albertinisg

[2016-10-06 23:43] albertinisg commented on #93
As we are finally not using PEP proxy, the code returned comes from Keyrock and not PEP, and in this case, when trying to do a different action than GET, the `x-auth-token` is needed, so the returned code is right:

[code]

[2016-10-06 23:43] #93 closed, assigned to albertinisg

[2016-10-06 23:43] albertinisg commented on #97
Discarded

[2016-10-06 23:43] #97 closed, assigned to albertinisg

[2016-10-24 12:48] hedata opened #148 "Deployment on Fiware Cloud"
Hi,

Tried to get the docker compose version working for a showcase (https://github.com/Fiware/tutorials.TourGuide-App/blob/develop/docker-compose.yml)
- i can access the application under http://tourguide after changing the /etc/hosts entries ( used your scripts)
- when i hit the login button, keystone throws an error in the web application that the application id wasnt found ( seems there is onl

[2016-10-24 13:29] albertinisg commented on #148
Hi!

I guess you've launched the `docker-compose.yml` file directly using docker-compose.

After having all the services running, you still need to configure some of them using the CLI provided.

In your case, you will need to configure keyrock adding the set  of users, organizations, apps, roles and permissions by running:

[code]

And after that, configuring the Oauth credentials:

[code]

You c

[2016-10-24 14:22] hedata commented on #148
thx will try it and report back

[2016-10-24 16:00] hedata commented on #148
works thank you!
Will try to deploy it on fiware cloud ( following http://simple-docker-hosting-on-fiware-cloud.readthedocs.org/en/latest/manuals/install/ )

i expect the following problems:
- since application itself has hosts as dns names in it  - and i have them assigned in /etc/hosts on my local computer this wont work for a public instance.
- am i right that there is no quick fix or config i

[2016-10-24 16:24] albertinisg commented on #148
Well, it depends on the services you would like to show. Internally the application will work, and also, some of the services are mapped to the host; that means you can reach the service without modifying the hosts file. Those services are the ones in which `docker-compose` section includes the `ports` exposed.

So teorically, if you would like to reach Orion, the following query should work:

[co

[2016-10-25 08:09] hedata commented on #148
Hi,

what i would like to show is the running the web application showing the restaurants on the map.

then having a small script adding a restaurant through a orion call (which should work).

then showing that the web application has added the restaurant tothe map.

To the point that the web application should work internally. if i remove the hosts entries and access the web application through t

[2016-10-25 10:00] albertinisg commented on #148
Well, this is a completely different issue here. This one regards the client, which I'm not familiar with.

Maybe @FiwareULPGC can help you with your request.

[2016-10-25 15:21] hedata commented on #148
Hi,

client part is working now. Was able to deploy a slightly modified version (https://github.com/hedata/tutorials.TourGuide-App/tree/deployment_on_fiware_cloud) here: http://130.206.127.12/client/

havent changed the keyrock part (for now) but restaurants are shown.

I am now playing with talking to orion, following the guide http://fiwaretourguide.readthedocs.io/en/latest/development-context-a

[2016-10-25 16:01] albertinisg commented on #148
Maybe [documentation](https://github.com/Fiware/docs.TourGuide) is wrong explaining how to create Reviews. In the beginning reviews were intended to be created by using the TourGuide-App [API](http://docs.tourguide.apiary.io/#reference/api-especification-for-tourguide/review/create-review). I've generated a review using it and it works displaying it in the client:

[code]

The thing is that, in th

[2016-10-27 17:12] hedata commented on #148
Thank you.

Will test this tomorrow.

Got the keyrock part working made the changes you suggested to tourguide-provision.py

Allthough again the app server didnt work. Had to add dirty hacks to oauth2.js (couldnt do it through the config.js since the same variable is used as redirect and for asking the keyrock server where one time you need the public ip adress and one time you need the internal n

[2016-10-28 07:37] albertinisg commented on #148
Hmmm I think that maybe you can avoid using that dirty hack changing the Keyrock `hostname` in the docker-compose [file](https://github.com/Fiware/tutorials.TourGuide-App/blob/develop/docker-compose.yml#L28) adding the IP, something like this:

[code]

Regarding the performance, I actually don't remember having any issues with it, but as we are using simple requests I guess it's not regarding Tour

[2016-10-28 10:09] hedata commented on #148
yeah performance part is really weird.. on my dev laptop it runs like a charm ( no docker host entries or anything ) .. on the server it must have same redirect errors or something.. but no idea atm

[2016-10-28 11:17] hedata commented on #148
just tested the creation of a review as you suggested -> works like a charm.

i have one more question. does the client already show some sensor data without being logged in if i create lets say temperature?

[2016-10-28 11:33] albertinisg commented on #148
AFAIK client does not display any sensor information :(

[2016-10-28 11:54] hedata commented on #148
hmm that sucks would be nice to show
- generating reviews through smartphone app
- generating temperature through some sensor

updates shown through the webapp

[2016-12-19 10:48] LukasCH09 commented on #148
Hi,
Has the documentation about hosting on fiware cloud moved? I can't find it.
This [link](http://simple-docker-hosting-on-fiware-cloud.readthedocs.io/en/latest/manuals/install/)  does not work. Same page is also referenced from [here](https://github.com/Fiware/tutorials.TourGuide-App#deploying-on-a-cloud-fiware-lab-instance).

Thanks
Lukas

[2016-12-19 15:47] albertinisg commented on #148
Seems that the readthedocs page is broken, yes, but actually we are not maintaining this documentation. Here is the source: https://github.com/fiware-docker/simple-docker-hosting/blob/master/doc/manuals/install.md

[2016-12-23 08:19] LukasCH09 commented on #148
Hello,
Ok, thanks for the answer.  I'll try that.

Although the documentation is not maintained, the page https://github.com/Fiware/tutorials.TourGuide-App should not contain dead links either.

[2017-01-10 08:46] LukasCH09 commented on #124
@dmabtrg, I'm a bit late too, but I think the confusion comes frome the page https://www.fiware.org/devguides/fiware-tour-guide-application-a-tutorial-on-how-to-integrate-the-main-fiware-ges/, which is in the first post of @kamilwlf .

I ran into the same confusion as it says to access http://devguide, which is wrong.

Is this page maintained by anyone?